<label class="title f18">一、展示效果</label>
<div class="viewContent">
    <fieldset class="formFieldset colorDanger">
        <legend class="formLegend">标题</legend>
        <div class="content">内容</div>
    </fieldset>
    <fieldset class="formFieldset colorWarning">
        <legend class="formLegend">标题</legend>
        <div class="content">内容</div>
    </fieldset>
    <fieldset class="formFieldset colorPrimary">
        <legend class="formLegend">标题</legend>
        <div class="content">内容</div>
    </fieldset>
    <fieldset class="formFieldset colorInfo">
        <legend class="formLegend">标题</legend>
        <div class="content">内容</div>
    </fieldset>
    <fieldset class="formFieldset colorSuccess">
        <legend class="formLegend">标题</legend>
        <div class="content">内容</div>
    </fieldset>
</div>
<label class="title f18">二、HTML代码</label> 
<pre>
    &lt;fieldset class="formFieldset colorDanger"&gt;
        &lt;legend class="formLegend"&gt;标题&lt;/legend&gt;
        &lt;div class="content"&gt;内容&lt;/div&gt;
    &lt;/fieldset&gt;
    
    &lt;fieldset class="formFieldset colorWarning"&gt;
        &lt;legend class="formLegend"&gt;标题&lt;/legend&gt;
        &lt;div class="content"&gt;内容&lt;/div&gt;
    &lt;/fieldset&gt;
    
    &lt;fieldset class="formFieldset colorPrimary"&gt;
        &lt;legend class="formLegend"&gt;标题&lt;/legend&gt;
        &lt;div class="content"&gt;内容&lt;/div&gt;
    &lt;/fieldset&gt;
    
    &lt;fieldset class="formFieldset colorInfo"&gt;
        &lt;legend class="formLegend"&gt;标题&lt;/legend&gt;
        &lt;div class="content"&gt;内容&lt;/div&gt;
    &lt;/fieldset&gt;
    
    &lt;fieldset class="formFieldset colorSuccess"&gt;
        &lt;legend class="formLegend"&gt;标题&lt;/legend&gt;
        &lt;div class="content"&gt;内容&lt;/div&gt;
    &lt;/fieldset&gt;
</pre>
