<label class="title f18">一、展示效果</label>
<div class="viewContent">
    <div class="table-responsive" style="background-color: #fff;">
        <table class="table table-bordered table-hover table-striped mb0">
            <thead>
                <tr>
                    <th>产品</th> <th>确认版</th> <th>签批版</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>哈他印花瑜伽服</td> <td>100</td> <td>201</td>
                </tr>
                <tr>
                    <td>灵动瑜伽裤</td> <td>110</td> <td>101</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<label class="title f18">二、HTML代码</label> 
<pre>
    &lt;div class="table-responsive"&gt;
        &lt;table class="table table-bordered table-hover table-striped mb0"&gt;
            &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th&gt;产品&lt;/th&gt; &lt;th&gt;确认版&lt;/th&gt; &lt;th&gt;签批版&lt;/th&gt;
                &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;td&gt;哈他印花瑜伽服&lt;/td&gt; &lt;td&gt;100&lt;/td&gt; &lt;td&gt;201&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;td&gt;灵动瑜伽裤&lt;/td&gt; &lt;td&gt;110&lt;/td&gt; &lt;td&gt;101&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
</pre>
