<style>
.viewContent{color: #888; letter-spacing: 0.8px; line-height: 25px;}
</style>
<label class="title f18">1、共通</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/css/min/min.css?v=${Env.global_css_version!}" /&gt;<br/>
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/css/page/page.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/min/min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;<br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/main/main.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">2、jqgrid</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/jqGrid/jqGrid-5.3.1/css/ui.jqgrid-bootstrap.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/jqgrid.table.hisp/jqgrid.table.hisp.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">3、开关</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/toggle-master/css/bootstrap-toggle.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/toggle-master/js/bootstrap-toggle.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">4、chosen下拉列表</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/chosen/chosen.jquery.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">5、sort排序插件</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/sortable/Sortable.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">6、ueditor(每个子项目都有一套，为相对路径引入)</label>
<div class="viewContent">
    &lt;script type="text/javascript"&gt;window.UEDITOR_HOME_URL = "/plugIn/ueditor1_4_3_3/";&lt;/script&gt;<br/>
    &lt;!-- 非加密库配置 --&gt;<br/>
    &lt;script type="text/javascript" charset="utf-8" src="/plugIn/ueditor1_4_3_3/ueditor.config.js"&gt;&lt;/script&gt;<br/>
    &lt;!-- 加密库配置 --&gt;<br/>
    &lt;script type="text/javascript" charset="utf-8" src="/plugIn/ueditor1_4_3_3/ueditor.configEncryption.js"&gt;&lt;/script&gt;<br/>
    &lt;script type="text/javascript" charset="utf-8" src="/plugIn/ueditor1_4_3_3/ueditor.all.js?v=${Env.UEDITOR_ALL_JS}"&gt;&lt;/script&gt;
</div>

<label class="title f18">7、echarts图表</label>
<div class="viewContent">
    <label style="color: #e66b6b;">4.8版本</label><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/echarts4.8/echarts.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;<br/><br/>
    <label style="color: #e66b6b;">5.1版本</label><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/charts/echarts5.1.1/echarts.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">8、fancybox幻灯片</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/fancybox/source/jquery.fancybox.css?v=${Env.global_css_version!}" media="screen" /&gt;<br/>
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=${Env.global_css_version!}" /&gt;<br/>
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/fancybox/source/helpers/jquery.fancybox-buttons.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/fancybox/source/jquery.fancybox.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;<br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;<br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/fancybox/source/helpers/jquery.fancybox-buttons.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">9、tagsinput标签</label>
<div class="viewContent">
    &lt;link rel="stylesheet" href="${Env.global_static_url}/plugIn/bootstrap-tagsinput/css/bootstrap-tagsinput.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script src="${Env.global_static_url}/plugIn/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">10、plupload多文件上传</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/plupload-3.1.2/plupload.full.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">11、fullCalendar日历控件</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/dateTime/fullcalendar/fullcalendar.min.css?v=${Env.global_css_version!}"/&gt;<br/>
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/dateTime/fullcalendar/fullcalendar.print.min.css?v=${Env.global_css_version!}" media="print" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/dateTime/fullcalendar/moment.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;<br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/dateTime/fullcalendar/fullcalendar.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">12、product.js</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/product/product.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">13、vue.min.js</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/vue.min/vue.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">14、mCustomScrollbar（滚动插件）</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/mCustomScrollbar/jquery.mCustomScrollbar.min.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">15、cookie.js</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/jquery.cookie/jquery.cookie.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">16、loading.page.js</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/loading.page/loading.page.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">17、金额由数字转换为汉字</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/transform.util/transform.util.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">18、生成条形码</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/JsBarcode/JsBarcode.all.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">19、触屏设备手势库</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/mobile/hammer/hammer.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">20、轮播插件</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/swiper-4.5.0/swiper.min.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/swiper-4.5.0/swiper.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">21、树形结构</label>
<div class="viewContent">
    &lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/zTree_v3/css/zTree-bootstrap/z-tree.bootstrap.css?v=${Env.global_css_version!}" /&gt;<br/><br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/zTree_v3/js/jquery.ztree.all.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">22、date format</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/date.format/date.format.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">23、sparkline微型图表</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/charts/sparkline/jquery.sparkline.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">24、数字金额转汉字</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/js/transform.util/transform.util.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">25、前端页面内容搜索</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/pageTxtSearch/anchor.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;<br/>
    &lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/pageTxtSearch/jquery.full-search.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">26、文字拷贝插件</label>
<div class="viewContent">
    &lt;script type="text/javascript" charset="utf8" src="${Env.global_static_url}/plugIn/clipboard/clipboard.min.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">27、ElementUI组件库（需要依赖vue，因此要提前引入vue.min.js）</label>
<div class="viewContent">
	&lt;link rel="stylesheet" type="text/css" href="${Env.global_static_url}/plugIn/elementUI-2.15.0/theme-chalk/index.css?v=${Env.global_css_version!}"&gt;<br/>
	&lt;script type="text/javascript" src="${Env.global_static_url}/plugIn/elementUI-2.15.0/index.js?v=${Env.global_js_version!}"&gt;&lt;/script&gt;
</div>

<label class="title f18">28、钉钉js</label>
<div class="viewContent">
    &lt;script type="text/javascript" src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.0.57/dingtalk.open.js"&gt;&lt;/script&gt;
</div>

