<label class="title f18">一、展示效果</label>
<div class="viewContent">
	<label class="f16 db">1、第一种</label>
    <div class="vertical-timeline vertical-container light-timeline">
        <!-- 节点 -->
        <div class="vertical-timeline-block">
               <!-- 头像容器 -->
            <div class="vertical-timeline-icon navy-bg mobileHiddenDom cp">
                <img src="https://files.htchn.com/pic/face/147027689607220160804101456072.png" class="img-responsive img-circle" />
            </div>
            <!-- 内容容器 -->
            <div class="vertical-timeline-content boxShadow2">
                时间节点内容
            </div>
        </div>
    </div>
    <label class="f16 db mt15">2、第二种</label>
    <div class="vertical-timeline vertical-container light-timeline noprint logInfo">
        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg"> <img src="https://files.htchn.com/pic/face/146780313153120160706190531531.png" class="img-responsive img-circle" onclick="showUserInfoBox(273);" /></div>
            <div class="vertical-timeline-content border border-bottom border-dark ">
                <p><b>祁蓓蓓</b></p><br/>
                <div class="orderMessage"><button type="button" class="btn btn-success" onclick="viewWfeDetail(589)">点击查看审批详情</button></div>
                <p class="f12 mt10 op6">2019-06-13 10:12:01</p>
            </div>
        </div>
    </div>
</div>
<label class="title f18">二、HTML代码</label>
<pre>
    <label class="f16">1、第一种</label>
    &lt;div class="vertical-timeline vertical-container light-timeline"&gt;
        &lt;!-- 节点 --&gt;
        &lt;div class="vertical-timeline-block"&gt;
            &lt;!-- 头像容器 --&gt;
            &lt;div class="vertical-timeline-icon navy-bg mobileHiddenDom cp" onclick="showUserInfoBox(345)"&gt;
                &lt;img src="https://files.htchn.com/pic/face/147027689607220160804101456072.png" class="img-responsive img-circle" /&gt;
            &lt;/div&gt;
            &lt;!-- 内容容器 --&gt;
            &lt;div class="vertical-timeline-content boxShadow2"&gt;
                时间节点内容
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    <label class="f16 mt15">2、第二种</label>
    &lt;div class="vertical-timeline vertical-container light-timeline noprint logInfo"&gt;
        &lt;div class="vertical-timeline-block"&gt;
            &lt;div class="vertical-timeline-icon navy-bg"&gt; &lt;img src="https://files.htchn.com/pic/face/146780313153120160706190531531.png" class="img-responsive img-circle" onclick="showUserInfoBox(273);" /&gt;&lt;/div&gt;
            &lt;div class="vertical-timeline-content border border-bottom border-dark "&gt;
                &lt;p&gt;&lt;b&gt;祁蓓蓓&lt;/b&gt;&lt;/p&gt;&lt;br/&gt;
                &lt;div class="orderMessage"&gt;&lt;button type="button" class="btn btn-success" onclick="viewWfeDetail(589)"&gt;点击查看审批详情&lt;/button&gt;&lt;/div&gt;
                &lt;p class="f12 mt10 op6"&gt;2019-06-13 10:12:01&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</pre>
