<label class="title f18">一、展示效果</label>
<div class="viewContent">
    <div id="table" class="table-responsive">
        <table class="table table-bordered mb0">
            <thead>
                <tr>
                    <th>产品</th> <th>确认版</th> <th>签批版</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>哈他印花瑜伽服</td> <td>100</td> <td>201</td>
                </tr>
                <tr>
                    <td>灵动瑜伽裤</td> <td>110</td> <td>101</td>
                </tr>
                <tr>
                    <td>哈他印花瑜伽服</td> <td>100</td> <td>201</td>
                </tr>
                <tr>
                    <td>灵动瑜伽裤</td> <td>110</td> <td>101</td>
                </tr>
                <tr>
                    <td>哈他印花瑜伽服</td> <td>100</td> <td>201</td>
                </tr>
                <tr>
                    <td>灵动瑜伽裤</td> <td>110</td> <td>101</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<label class="title f18">二、HTML代码</label>
<pre>
    <label class="f16">js代码：</label>
    addWaterMark(waterText, boxId, isColorTable, extraAttr);
    
    参数说明
    waterText：水印要显示的文字
    boxId：要显示水印的dom元素id
    isColorTable：是否是数据行有背景颜色的jqgrid。0:否; 1:是
    extraAttr：额外的配置（字体大小等，若不需要可不传）
    
    示例：
    addWaterMark("Angelababy", "dataTable", 0, {"font-size": 20});
</pre>

<script>
    /*<![CDATA[*/
    // 添加svg水印
    var userName = "张三";
    var svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
    svg.setAttribute("width", userName.length*20+"");
    svg.setAttribute("height", "50");
    var text = document.createElementNS("http://www.w3.org/2000/svg", "text");
    text.setAttribute("x", "10");
    text.setAttribute("y", "25");
    text.setAttribute("fill", "rgba(0,0,0,0.1)");
    text.setAttribute("transform", "rotate(10 10,-40)");
    text.textContent = userName;
    svg.appendChild(text);
    var s = new XMLSerializer().serializeToString(svg);
    var encodedData = btoa(unescape(encodeURIComponent(s)));
    var watermarkStyle = `<style>
        #table{margin: 0px auto 0px auto; background: #fff;background: url(data:image/svg+xml;base64,`+encodedData+`) repeat;}
        </style>`;
    $("head").append(watermarkStyle);
    /*]]>*/
</script>
